<!DOCTYPE html>
<html>
<head>
	<title>{{heading}}</title>
    <style type="text/css">
        .button{
            margin-top: 3%;
            width: 60px;
            padding: 5px;
            color: #fdfdfd;
            text-decoration: none;
            font-weight: bold;
            background: #e66a6a;
            display: inline-block;
        }
    </style>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Logout</a></p>
        {% endif %}
    </nav>
    {% if products %}
    <div style="width: 80%;
    margin: 0 auto;">
        <table style="width: 100%;">
            <thead style="text-align: center;">
                <tr>
                    <th data-column-id="id" data-type="numeric">ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th data-column-id="action">Action</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {% for product in products %}
                <tr>
                    <td>
                        <a href="{% url 'shopping:view_product' pk=product.pk %}">{{product.pk}}</a>
                    </td>
                    <td>
                        <a href="{% url 'shopping:view_product' pk=product.pk %}">{{product.name}}</a>
                    </td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td style="width: 100px;height: 100px;"><img src="{{product.image.url}}" alt="{{product.name}}" style="width:100%;"/></td>
                    <td>{{product.status}}</td>
                    <td>
                        <a href="{% url 'shopping:update_product' pk=product.pk %}" class="button">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</body>
</html>